<div id="container">
    <div id="palette" class="block">
        <div id="color-palette"></div>
    </div>
    <div id="picker" class="block">
        <div class="ui-color-picker" data-topic="picker" data-mode="HSB"></div>
        <div id="picker-samples" sample-id="master"></div>
    </div>
</div>
