<form action="index.php" method="post" id="save">
    <select name="type" id="theme">
        <option value="0">Triadic</option>
        <option value="1">Complementary</option>
        <option value="2">Adjacent</option>
        <option value="3">Monochrome</option>
    </select>
    <br>
    <input type="text" name="theme_name"></input>
    <br><br>
    <input type="submit">
</form>
