<form action="theme_generator.php" method="post" id="save">
    <select name="type" id="theme">
        <option value="0">Triadic</option>
        <option value="1">Complementary</option>
        <option value="2">Adjacent</option>
        <option value="3">Monochrome</option>
    </select>
    <br>
    &nbsp; Font :<br>
    <select name="font" id="font">
        <option value="sans-serif">sans-serif</option>
        <option value="Georgia">Georgia</option>
        <option value="Palatino Linotype">Palatino Linotype</option>
        <option value="Book Antiqua">Book Antiqua</option>
        <option value="Arial">Arial</option>
        <option value="Helvetica">Helvetica</option>
        <option value="Arial Black">Arial Black</option>
        <option value="Courier New">Courier New</option>
        <option value="Verdana">Verdana</option>
    </select>
    <br>
    &nbsp; Theme Name :<br>
    <input type="text" name="theme_name" required></input> <br>
    <br>
    &nbsp; Version :<br>
    <input type="text" name="version"></input> <br>
    <br>
    &nbsp; Description :<br>
    <input type="text" name="description"></input> <br>
    <br>
    &nbsp; Author :<br>
    <input type="text" name="author"></input> <br>
    <br>
    &nbsp; URL :<br>
    <input type="text" name="url"></input> <br>
    <input type="checkbox" name="text_contrast">Automatically set text colours for best visibility<br>
    <br><br>
    <input type="button" value="Preview" id="preview">
    <input type="submit">
</form>
