<div class="group" id="group_preview">
    <h2>Preview Panel</h2>
    <ul>
        <li id="li_change_password" class="no_bullets">

            <a href="#">
                <img src="themes/dot.gif" title="" alt="" class="icon ic_s_passwd">&nbsp;Change password
            </a>
        </li>
        <li id="li_select_mysql_collation" class="no_bullets">
                <label for="select_collation_connection">
                <img src="themes/dot.gif" title="" alt="" class="icon ic_s_asci">&nbsp;Server connection collation
<a href="" target="mysql_doc"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>:
            </label>
                <select lang="en" dir="ltr" name="collation_connection" id="select_collation_connection" class="autosubmit">
<option value="">Collation</option>
</select>
        </li>
    </ul>
</div>
