<div id="pma_navigation1">
    <div id="pma_navigation_content">
        <div id="pma_navigation_header">
            <a class="hide navigation_url" href="#"></a>
            <div id="pmalogo">
                <a href="#">
                    <img src="./themes/pmahomme/img/logo_left.png" alt="phpMyAdmin" id="imgpmalogo">
                </a>
            </div>
            <div id="navipanellinks">
                <a href="#" title="Home"><img src="themes/dot.gif" title="Home" alt="Home" class="icon ic_b_home"></a>
                <a href="#" class="logout disableAjax" title="Log out"><img src="themes/dot.gif" title="Log out" alt="Log out" class="icon ic_s_loggoff"></a>
                <a href="#" target="documentation" title="phpMyAdmin documentation"><img src="themes/dot.gif" title="phpMyAdmin documentation" alt="phpMyAdmin documentation" class="icon ic_b_docs"></a>
                <a href="#" target="mysql_doc" title="Documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_sqlhelp"></a>
                <a href="#" id="pma_navigation_settings_icon" title="Navigation panel settings"><img src="themes/dot.gif" title="Navigation panel settings" alt="Navigation panel settings" class="icon ic_s_cog"></a>
                <a href="#" id="pma_navigation_reload" title="Reload navigation panel"><img src="themes/dot.gif" title="Reload navigation panel" alt="Reload navigation panel" class="icon ic_s_reload"></a>
            </div>
            <img src="themes/dot.gif" title="Loading…" alt="Loading…" style="visibility: hidden; display:none" class="icon ic_ajax_clock_small throbber"></div>
        <div id="pma_navigation_tree" class="list_container synced highlight">
            <div class="pma_quick_warp">
                <div class="drop_list"><span title="Recent tables" class="drop_button">Recent</span>
                    <ul id="pma_recent_list">
                        <li class="warp_link"><a href="#">`db1`.`table1`</a></li>
                        <li class="warp_link"><a href="#">`db1`.`table2`</a></li>
                    </ul>
                </div>
                <div class="drop_list"><span title="Favorite tables" class="drop_button">Favorites</span>
                    <ul id="pma_favorite_list">
                        <li class="warp_link">There are no favorite tables.</li>
                    </ul>
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
            <ul>
                <!-- CONTROLS START -->
                <li id="navigation_controls_outer" class="">
                    <div id="navigation_controls">
                        <a href="#" id="pma_navigation_collapse" title="Collapse all"><img src="themes/dot.gif" title="Collapse all" alt="Collapse all" class="icon ic_s_collapseall"></a>
                        <a href="#" id="pma_navigation_sync" title="Unlink from main panel"><img src="themes/dot.gif" title="Unlink from main panel" alt="Unlink from main panel" class="icon ic_s_link"></a>
                    </div>
                </li>
                <!-- CONTROLS ENDS -->
            </ul>
            <div id="pma_navigation_tree_content" style="height: 887px;">
                <ul>
                    <li class="first new_database italics">
                        <div class="block"><i class="first"></i></div>
                        <div class="block ">
                            <a href="#"><img src="themes/dot.gif" title="" alt="" class="icon ic_b_newdb"></a>
                        </div><a class="hover_show_full" href="#" title="">New</a>
                        <div class="clearfloat"></div>
                    </li>
                    <li class="last database">
                        <div class="block"><i></i><a class="expander loaded" href="#"><span class="hide pos">0</span><img src="themes/dot.gif" title="Expand/Collapse" alt="Expand/Collapse" class="icon ic_b_minus" style=""></a></div>
                        <div class="block ">
                            <a href="#"><img src="themes/dot.gif" title="Database operations" alt="Database operations" class="icon ic_s_db"></a>
                        </div><a class="hover_show_full" href="#" title="Structure">db1</a>
                        <div class="clearfloat"></div>
                        <div class="list_container hide" style="display: block;">
                            <ul>
                                <li class="new_table italics">
                                    <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span></div>
                                    <div class="block ">
                                        <a href="#"><img src="themes/dot.gif" title="New" alt="New" class="icon ic_b_table_add"></a>
                                    </div><a class="hover_show_full" href="#" title="">New</a>
                                    <div class="clearfloat"></div>
                                </li>
                                <li class="last table">
                                    <div class="block"><i></i><a class="expander loaded" href="#"><span class="hide pos">0</span><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><img src="themes/dot.gif" title="Expand/Collapse" alt="Expand/Collapse" class="icon ic_b_minus" style=""></a></div>
                                    <div class="block ">
                                        <a href="#"><img src="themes/dot.gif" title="Structure" alt="Structure" class="icon ic_b_props"></a>
                                    </div><a class="hover_show_full" href="#" title="Browse">Table</a><span class="navItemControls"><a href="#" class="hideNavItem ajax"><img src="themes/dot.gif" title="Hide" alt="Hide" class="icon ic_hide"></a></span>
                                    <div class="clearfloat"></div>
                                    <div class="list_container hide" style="display: block;">
                                        <ul>
                                            <li class="">
                                                <div class="block"><i></i><b></b><a class="expander container loaded" href="#"><span class="hide pos">0</span><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">columns</span><span class="hide pos3_value">0</span><img src="themes/dot.gif" title="Expand/Collapse" alt="Expand/Collapse" class="icon ic_b_plus" style=""></a></div><i><div class="block "><a href="#"><img src="themes/dot.gif" title="Columns" alt="Columns" class="icon ic_pause"></a></div>&nbsp;<a class="hover_show_full" href="#">Columns</a></i>
                                                <div class="clearfloat"></div>
                                                <div class="list_container hide" style="display: none;">
                                                    <ul>
                                                        <li class="new_column italics">
                                                            <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">columns</span><span class="hide pos3_value">0</span></div>
                                                            <div class="block ">
                                                                <a href="#"><img src="themes/dot.gif" title="New" alt="New" class="icon ic_b_column_add"></a>
                                                            </div><a class="hover_show_full" href="#" title="">New</a>
                                                            <div class="clearfloat"></div>
                                                        </li>
                                                        <li class="last">
                                                            <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">columns</span><span class="hide pos3_value">0</span></div>
                                                            <div class="block ">
                                                                <a href="#"><img src="themes/dot.gif" title="Column" alt="Column" class="icon ic_pause"></a>
                                                            </div><a class="hover_show_full" href="#" title="Structure">column1</a>
                                                            <div class="clearfloat"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="">
                                                <div class="block"><i></i><b></b><a class="expander container loaded" href="#"><span class="hide pos">0</span><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span class="hide pos3_value">0</span><img src="themes/dot.gif" title="Expand/Collapse" alt="Expand/Collapse" class="icon ic_b_plus" style=""></a></div><i><div class="block "><a href="#"><img src="themes/dot.gif" title="Indexes" alt="Indexes" class="icon ic_b_index"></a></div>&nbsp;<a class="hover_show_full" href="#">Indexes</a></i>
                                                <div class="clearfloat"></div>
                                                <div class="list_container hide" style="display: none;">
                                                    <ul>
                                                        <li class="new_index italics">
                                                            <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span class="hide pos3_value">0</span></div>
                                                            <div class="block ">
                                                                <a class=" ajax" href="#"><img src="themes/dot.gif" title="New" alt="New" class="icon ic_b_index_add"></a>
                                                            </div><a class="hover_show_full ajax" href="#" title="">New</a>
                                                            <div class="clearfloat"></div>
                                                        </li>
                                                        <li class="last index">
                                                            <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span class="hide pos3_value">0</span></div>
                                                            <div class="block ">
                                                                <a class=" ajax" href="#"><img src="themes/dot.gif" title="Index" alt="Index" class="icon ic_b_index"></a>
                                                            </div><a class="hover_show_full ajax" href="#" title="">Index1</a>
                                                            <div class="clearfloat"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="last">
                                                <div class="block"><i></i><a class="expander container loaded" href="#"><span class="hide pos">0</span><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">triggers</span><span class="hide pos3_value">0</span><img src="themes/dot.gif" title="Expand/Collapse" alt="Expand/Collapse" class="icon ic_b_plus" style=""></a></div><i><div class="block "><a href="#"><img src="themes/dot.gif" title="" alt="" class="icon ic_b_triggers"></a></div>&nbsp;<a class="hover_show_full" href="#">Triggers</a></i>
                                                <div class="clearfloat"></div>
                                                <div class="list_container hide" style="display: none;">
                                                    <ul>
                                                        <li class="new_trigger italics">
                                                            <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">triggers</span><span class="hide pos3_value">0</span></div>
                                                            <div class="block ">
                                                                <a class=" ajax" href="#"><img src="themes/dot.gif" title="" alt="" class="icon ic_b_trigger_add"></a>
                                                            </div><a class="hover_show_full ajax" href="#" title="">New</a>
                                                            <div class="clearfloat"></div>
                                                        </li>
                                                        <li class="last trigger">
                                                            <div class="block"><i></i><span class="hide pos2_name">tables</span><span class="hide pos2_value">0</span><span class="hide pos3_name">triggers</span><span class="hide pos3_value">0</span></div>
                                                            <div class="block ">
                                                                <a class=" ajax" href="#"><img src="themes/dot.gif" title="" alt="" class="icon ic_b_triggers"></a>
                                                            </div><a class="hover_show_full ajax" href="#" title="">Trigger1</a>
                                                            <div class="clearfloat"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="pma_navi_settings_container">
            <div id="pma_navigation_settings">
                <div class="page_settings">
                    <form method="post" action="index.php?db=&amp;table=&amp;server=1&amp;target=" class="config-form disableAjax"><input type="hidden" name="tab_hash" value=""><input type="hidden" name="check_page_refresh" id="check_page_refresh" value="1">
                        <input type="hidden" name="token" value="Qb$cJWz8xqkm~yhw">
                        <input type="hidden" name="submit_save" value="Navi">
                        <ul class="tabs responsivetable">

                            <li class="active">

                                <a href="#">
    Navigation panel
    </a>
                            </li>
                            <li>

                                <a href="#">
    Navigation tree
    </a>
                            </li>
                            <li>

                                <a href="#">
    Servers
    </a>
                            </li>
                            <li>

                                <a href="#">
    Databases
    </a>
                            </li>
                            <li>

                                <a href="#">
    Tables
    </a>
                            </li>
                        </ul>
                        <br>
                        <div class="tabs_contents">
                            <fieldset class="optbox" id="Navi_panel" style="">
                                <legend>Navigation panel</legend>
                                <p>Customize appearance of the navigation panel.</p>
                                <table width="100%" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th><label for="ShowDatabasesNavigationAsTree">Show databases navigation as tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>In the navigation panel, replaces the database tree with a selector</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="ShowDatabasesNavigationAsTree" id="ShowDatabasesNavigationAsTree" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationLinkWithMainPanel">Link with main panel</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Link with main panel by highlighting the current database or table.</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationLinkWithMainPanel" id="NavigationLinkWithMainPanel" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationDisplayLogo">Display logo</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Show logo in navigation panel.</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationDisplayLogo" id="NavigationDisplayLogo" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationLogoLink">Logo link URL</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>URL where logo in the navigation panel will point to.</small></th>
                                            <td><input type="text" class="all85" name="NavigationLogoLink" id="NavigationLogoLink" value="index.php">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationLogoLinkWindow">Logo link target</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Open the linked page in the main window (<kbd>main</kbd>) or in a new one (<kbd>new</kbd>).</small></th>
                                            <td><select class="all85" name="NavigationLogoLinkWindow" id="NavigationLogoLinkWindow"><option value="main" selected="selected">main</option><option value="new">new</option></select>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreePointerEnable">Enable highlighting</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Highlight server under the mouse cursor.</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreePointerEnable" id="NavigationTreePointerEnable" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="FirstLevelNavigationItems">Maximum items on first level</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>The number of items that can be displayed on each page on the first level of the navigation tree.</small></th>
                                            <td><input type="number" name="FirstLevelNavigationItems" id="FirstLevelNavigationItems" value="100">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeDisplayItemFilterMinimum">Minimum number of items to display the filter box</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Defines the minimum number of items (tables, views, routines and events) to display a filter box.</small></th>
                                            <td><input type="number" name="NavigationTreeDisplayItemFilterMinimum" id="NavigationTreeDisplayItemFilterMinimum" value="30">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NumRecentTables">Recently used tables</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Maximum number of recently used tables; set 0 to disable.</small></th>
                                            <td><input type="number" name="NumRecentTables" id="NumRecentTables" value="10">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NumFavoriteTables">Favorite tables</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Maximum number of favorite tables; set 0 to disable.</small></th>
                                            <td><input type="number" name="NumFavoriteTables" id="NumFavoriteTables" value="10">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationWidth">Navigation panel width</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Set to 0 to collapse navigation panel.</small></th>
                                            <td><input type="number" name="NavigationWidth" id="NavigationWidth" value="240">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <fieldset class="optbox" id="Navi_tree" style="display: none;">
                                <legend>Navigation tree</legend>
                                <p>Customize the navigation tree.</p>
                                <table width="100%" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th><label for="MaxNavigationItems">Maximum items in branch</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>The number of items that can be displayed on each page of the navigation tree.</small></th>
                                            <td><input type="number" name="MaxNavigationItems" id="MaxNavigationItems" value="50">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeEnableGrouping">Group items in the tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Group items in the navigation tree (determined by the separator defined in the Databases and Tables tabs above).</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeEnableGrouping" id="NavigationTreeEnableGrouping" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeEnableExpansion">Enable navigation tree expansion</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Whether to offer the possibility of tree expansion in the navigation panel.</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeEnableExpansion" id="NavigationTreeEnableExpansion" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeShowTables">Show tables in tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Whether to show tables under database in the navigation tree</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeShowTables" id="NavigationTreeShowTables" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeShowViews">Show views in tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Whether to show views under database in the navigation tree</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeShowViews" id="NavigationTreeShowViews" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeShowFunctions">Show functions in tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Whether to show functions under database in the navigation tree</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeShowFunctions" id="NavigationTreeShowFunctions" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeShowProcedures">Show procedures in tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Whether to show procedures under database in the navigation tree</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeShowProcedures" id="NavigationTreeShowProcedures" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeShowEvents">Show events in tree</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Whether to show events under database in the navigation tree</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationTreeShowEvents" id="NavigationTreeShowEvents" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <fieldset class="optbox" id="Navi_servers" style="display: none;">
                                <legend>Servers</legend>
                                <p>Servers display options.</p>
                                <table width="100%" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th><label for="NavigationDisplayServers">Display servers selection</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Display server choice at the top of the navigation panel.</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="NavigationDisplayServers" id="NavigationDisplayServers" checked="checked"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="DisplayServersList">Display servers as a list</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>Show server listing as a list instead of a drop down.</small></th>
                                            <td><span class="checkbox"><input type="checkbox" name="DisplayServersList" id="DisplayServersList"></span>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <fieldset class="optbox" id="Navi_databases" style="display: none;">
                                <legend>Databases</legend>
                                <p>Databases display options.</p>
                                <table width="100%" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th><label for="NavigationTreeDisplayDbFilterMinimum">Minimum number of databases to display the database filter box</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span></th>
                                            <td><input type="number" name="NavigationTreeDisplayDbFilterMinimum" id="NavigationTreeDisplayDbFilterMinimum" value="30">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeDbSeparator">Database tree separator</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>String that separates databases into different tree levels.</small></th>
                                            <td><input type="text" size="25" name="NavigationTreeDbSeparator" id="NavigationTreeDbSeparator" value="_">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <fieldset class="optbox" id="Navi_tables" style="display: none;">
                                <legend>Tables</legend>
                                <p>Tables display options.</p>
                                <table width="100%" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th><label for="NavigationTreeDefaultTabTable">Target for quick access icon</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span></th>
                                            <td><select class="all85" name="NavigationTreeDefaultTabTable" id="NavigationTreeDefaultTabTable"><option value="structure" selected="selected">Structure</option><option value="sql">SQL</option><option value="search">Search</option><option value="insert">Insert</option><option value="browse">Browse</option></select>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeDefaultTabTable2">Target for second quick access icon</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span></th>
                                            <td><select class="all85" name="NavigationTreeDefaultTabTable2" id="NavigationTreeDefaultTabTable2"><option value="" selected="selected"></option><option value="structure">Structure</option><option value="sql">SQL</option><option value="search">Search</option><option value="insert">Insert</option><option value="browse">Browse</option></select>
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeTableSeparator">Table tree separator</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span><small>String that separates tables into different tree levels.</small></th>
                                            <td><input type="text" size="25" name="NavigationTreeTableSeparator" id="NavigationTreeTableSeparator" value="__">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="NavigationTreeTableLevel">Maximum table tree depth</label><span class="doc"><a href="#" target="documentation"><img src="themes/dot.gif" title="Documentation" alt="Documentation" class="icon ic_b_help"></a>
    </span></th>
                                            <td><input type="number" name="NavigationTreeTableLevel" id="NavigationTreeTableLevel" value="1">
                                                <a class="restore-default hide" href="#" title="Restore default value" style="display: inline-block; opacity: 0.25;"><img src="themes/dot.gif" title="" alt="" class="icon ic_s_reload" style="display: none;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pma_drop_handler">Drop files here</div>
    <div class="pma_sql_import_status">
        <h2>SQL upload ( <span class="pma_import_count">0</span> ) <span class="close">x</span><span class="minimize">-</span></h2>
        <div></div>
    </div>
</div>
<style>

#pma_navigation1 #pmalogo, #pma_navigation1 #serverChoice,
#pma_navigation1 #navipanellinks, #pma_navigation1 #recentTableList,
#pma_navigation1 #favoriteTableList, #pma_navigation1 #databaseList,
#pma_navigation1 div.pageselector.dbselector {
    text-align: center;
    padding: 5px 10px 0;
    border: 0;
}
#pma_navigation1 {
    width: 240px;
    position: absolute;
    background: linear-gradient(to right, #000000 , #ffffff);
    color: #000;
    left: 731px;
    height: 365px;
    top: 288px;
}

</style>
