<div id="table_preview">
    <div style="position: relative;" class="data">
        <div class="cRsz" style="height: 102px;">
            <div class="colborder" style="left: 294.716px;"></div>
            <div class="colborder" style="left: 369.713px;"></div>
            <div class="colborder" style="left: 441.716px;"></div>
            <div class="colborder" style="left: 552.716px;"></div>
        </div>
        <table class="sticky_columns" style="position: fixed; z-index: 99; width: 554px; margin-left: 6.56px; top: 57.5625px; display: none;">
            <thead>
                <tr>
                    <th class="column_action print_ignore" colspan="4" style="width: 194.156px;"><span><a href="#" ><img class="fulltext" src="./themes/pmahomme/img/s_fulltext.png" alt="Full texts" title="Full texts"></a></span></th>
                    <th class="draggable column_heading pointer marker" data-column="Dname" style="width: 87.1562px;"><span><a href="#"  class="sortlink">Dname <img src="themes/dot.gif" title="" alt="Ascending" class="icon ic_s_asc soimg"> <img src="themes/dot.gif" title="" alt="Descending" class="icon ic_s_desc soimg hide"> <small>1</small><input type="hidden" ></a></span></th>
                </tr>
            </thead>
        </table>
        <table class="table_results ajax pma_table" data-uniqueid="510480552">
            <thead>
                <tr>
                    <th class="column_action print_ignore" colspan="4"><span><a href="#" ><img class="fulltext" src="./themes/pmahomme/img/s_fulltext.png" alt="Full texts" title="Full texts"></a></span></th>
                    <th class="draggable column_heading pointer marker" data-column="Dname" style="cursor: move;"><span><a href="#"  class="sortlink">Dname <img src="themes/dot.gif" title="" alt="Ascending" class="icon ic_s_asc soimg" style=""> <img src="themes/dot.gif" title="" alt="Descending" class="icon ic_s_desc soimg hide" style="display: none;"> <small>1</small><input type="hidden" ></a></span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row_preview">
                    <td class="center print_ignore"><span><input type="checkbox" id="id_rows_to_delete0_left" name="rows_to_delete[0]" class="multi_checkbox checkall" ><input type="hidden" class="condition_array" >    </span></td>
                    <td class="edit_row_anchor center print_ignore"><span class="nowrap"><a href="#" ><span class="nowrap"><img src="themes/dot.gif" title="Edit" alt="Edit" class="icon ic_b_edit">&nbsp;Edit</span></a><input type="hidden" class="where_clause" ></span>
                    </td>
                    <td class="center print_ignore"><span class="nowrap"><a href="#" ><span class="nowrap"><img src="themes/dot.gif" title="Copy" alt="Copy" class="icon ic_b_insrow">&nbsp;Copy</span></a><input type="hidden" class="where_clause" ></span>
                    </td>
                    <td class="center print_ignore"><a href="#"  class="delete_row requireConfirm ajax"><span class="nowrap"><img src="themes/dot.gif" title="Delete" alt="Delete" class="icon ic_b_drop">&nbsp;Delete</span></a>
                    </td>
                    <td data-decimals="0" data-type="string" data-originallength="14" class="data grid_edit click2 not_null text"><span>Row 1</span></td>
                </tr>
                <tr class="row_alternate_preview">
                    <td class="center print_ignore"><span><input type="checkbox" id="id_rows_to_delete1_left" name="rows_to_delete[1]" class="multi_checkbox checkall" ><input type="hidden" class="condition_array" >    </span></td>
                    <td class="edit_row_anchor center print_ignore"><span class="nowrap"><a href="#" ><span class="nowrap"><img src="themes/dot.gif" title="Edit" alt="Edit" class="icon ic_b_edit">&nbsp;Edit</span></a><input type="hidden" class="where_clause" ></span>
                    </td>
                    <td class="center print_ignore"><span class="nowrap"><a href="#" ><span class="nowrap"><img src="themes/dot.gif" title="Copy" alt="Copy" class="icon ic_b_insrow">&nbsp;Copy</span></a><input type="hidden" class="where_clause" ></span>
                    </td>
                    <td class="center print_ignore"><a href="#"  class="delete_row requireConfirm ajax"><span class="nowrap"><img src="themes/dot.gif" title="Delete" alt="Delete" class="icon ic_b_drop">&nbsp;Delete</span></a>
                    </td>
                    <td data-decimals="0" data-type="string" data-originallength="11" class="data grid_edit click2 not_null text"><span>Row 2</span></td>
                </tr>
                <tr class="row_preview">
                    <td class="center print_ignore"><span><input type="checkbox" id="id_rows_to_delete2_left" name="rows_to_delete[2]" class="multi_checkbox checkall" ><input type="hidden" class="condition_array" >    </span></td>
                    <td class="edit_row_anchor center print_ignore"><span class="nowrap"><a href="#" ><span class="nowrap"><img src="themes/dot.gif" title="Edit" alt="Edit" class="icon ic_b_edit">&nbsp;Edit</span></a><input type="hidden" class="where_clause" ></span>
                    </td>
                    <td class="center print_ignore"><span class="nowrap"><a href="#" ><span class="nowrap"><img src="themes/dot.gif" title="Copy" alt="Copy" class="icon ic_b_insrow">&nbsp;Copy</span></a><input type="hidden" class="where_clause" ></span>
                    </td>
                    <td class="center print_ignore"><a href="#"  class="delete_row requireConfirm ajax"><span class="nowrap"><img src="themes/dot.gif" title="Delete" alt="Delete" class="icon ic_b_drop">&nbsp;Delete</span></a>
                    </td>
                    <td data-decimals="0" data-type="string" data-originallength="8" class="data grid_edit click2 not_null text"><span>Row 3</span></td>
                </tr>
            </tbody>
        </table>
        <div class="cPointer" style="visibility: hidden;"></div>
        <div class="cCpy" style="display: none;"></div>
        <div class="cDrop">
            <div class="coldrop" style="left: 175.844px; top: -1.312px;"></div>
        </div>
        <div class="cList" style="display: none;">
            <div class="lDiv">
                <div><input type="checkbox" checked="checked">Dname 1</div>
            </div>
            <div class="showAllColBtn">Show all</div>
        </div>
        <div class="cEdit" style="display: none;"><input class="edit_box" rows="1">
            <div class="edit_area"></div>
        </div>
        <div class="cEdit" style="display: none;"><textarea class="edit_box" rows="1"></textarea>
            <div class="edit_area"></div>
        </div>
    </div>
</div>
