<div class="group">
<h2>{% trans "Confirm disabling two-factor authentication" %}</h2>
<div class="group-cnt">
<form method="POST" action="prefs_twofactor.php">
{{ "By disabling two factor authentication you will be again able to login using password only."|trans|notice }}
{{ get_hidden_inputs() }}
{{ form|raw }}
<input type="hidden" name="2fa_remove" value="1">
<input class="btn btn-secondary" type="submit" value="{% trans "Disable two-factor authentication" %}">
</form>
</div>
</div>
