<h2>{{ 'Users of \'%s\' user group'|trans|format(user_group_special_chars)|raw }}</h2>
{% if users|length == 0 %}
    <p>{% trans 'No users were found belonging to this user group.' %}</p>
{% else %}
<table class="table table-striped w-auto">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans 'User' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in users %}
        <tr>
            <td>{{ obj.count }}</td>
            <td>{{ obj.user }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
