<div class="panel">
    <div class="clearfloat"></div>
    <div id="ab"></div>
    <div class="clearfloat"></div>
</div>
<a class="trigger" href="#">{% trans 'Active options' %}</a>
<div id="box">
    <form method="post" action="db_qbe.php" id="vqb_form">
        <textarea cols="80" name="sql_query" id="textSqlquery" rows="15"></textarea>
        <input type="hidden" name="submit_sql" value="true">
        {{ Url_getHiddenInputs(db) }}
    </form>
</div>
