        </table>
      </fieldset>
    </div>

    {% if show_buttons %}
      <div class="card-footer">
        <input class="btn btn-primary" type="submit" name="submit_save" value="{% trans 'Apply' %}">
        <input class="btn btn-secondary" type="button" name="submit_reset" value="{% trans 'Reset' %}">
      </div>
    {% endif %}
  </div>
</div>
