# Standards for multi-platform colaboration

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto
*.sh eol=lf

# Standard
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
