# Directory for creating releases
/release/
# Configuration files
/config.inc.php
/config.header.inc.php
/config.footer.inc.php
# Upload/save dirs
/upload/
/save/
/tmp/
# For setup script
/config/
# ctags
tags
# Editor files
phpmyadmin.wpj
.projectOptions
.vimrc
.project
.settings
.buildpath
.cache
.idea
.netbeans
*.sw[op]
# Web server files
web.config
.htaccess
# Locales
/locale/
# Temporary files to generate locales for Twig
/twig-templates/
# Backups
*~
# API documentation
/apidoc/
/doc/linkcheck/
# Demo server
revision-info.php
# PHP_CodeSniffer
phpcs.xml
.phpcs-cache
# PHPUnit
phpunit.xml
/test/bootstrap.php
.phpunit.result.cache
# Jenkins
/build/
# Netbeans ide stuff
/nbproject/
# Eclipse ide stuff
/.pydevproject
# Ant cache
cache.properties
# Composer
composer.lock
/vendor/
# NPM
/node_modules/
libraries/cache/
js/dist/
/setup/styles.css.map
