# The Travis setup:
# - run testsuite for every PHP version
# - run lint for every PHP version
# - run Selenium for single PHP version

language: php

php:
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"
  - hhvm

sudo: false

env:
  matrix:
    - PHPUNIT_ARGS="--exclude-group selenium"
    - LINT="yes"
  global:
    - secure: "TR3s7lHkREN706g+FeNXl1S0R2fpcI1H+n8USIkl5WBd7S2/NpsZlSfkrgnC7/xRBDXzHwuYd8JQQyAZyrqPEeLqIqlKzxIcTHOiJWGeR/YO7JXsr1Slt/nFqygpIyz8yOh3QIvX6FMzPsamBlUNhRvTAkd2wXPMBpXQlhTVmX8="
    - TESTSUITE_BROWSERSTACK_USER=phpMyAdmin
    - TESTSUITE_USER=root
    - TESTSUITE_PASSWORD=root
    - TESTSUITE_URL=http://127.0.0.1:8000

before_script:
  - export PATH=~/.composer/vendor/bin/:$PATH
  - mysql -uroot -e "SET PASSWORD = PASSWORD('$TESTSUITE_PASSWORD')" ;
  - composer install --dev --no-interaction
  - if [ -z "$LINT" - a$TRAVIS_PHP_VERSION != "hhvm" ] ; then ./test/install-runkit ; fi
  - set -e ; if [ -z "$LINT" ] ; then
    if [ ! -z "$SELENIUM" ] ; then

    php --server 127.0.0.1:8000 &

    wget https://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip ;
    unzip BrowserStackLocal-linux-x64.zip ;
    ./BrowserStackLocal -localIdentifier "travis-$TRAVIS_JOB_NUMBER" -onlyAutomate "$TESTSUITE_BROWSERSTACK_KEY" 127.0.0.1,8000,0 &

    mysql -uroot -p$TESTSUITE_PASSWORD < examples/create_tables.sql ;

    fi ;
    fi

script:
  - ant locales
  - set -e; if [ -z "$LINT" ] ; then
    if [ $TRAVIS_PHP_VERSION == "hhvm" ] ; then
    ant phpunit-hhvm ;
    else
    if [ ! -z "$SELENIUM" ] ; then
    ant phpunit-nocoverage ;
    else
    ant phpunit ;
    fi ;
    fi ;
    else
    ant lint ;
    fi

after_script:
  - if [ -f build/logs/clover.xml ] ; then php vendor/bin/ocular code-coverage:upload --format=php-clover build/logs/clover.xml || true ; fi
  - if [ -f vendor/bin/coveralls ] ; then php vendor/bin/coveralls -v || true ; fi

matrix:
  allow_failures:
    - php: 5.5
      env: PHPUNIT_ARGS="--group selenium" SELENIUM="yes"
    - php: hhvm
      env: PHPUNIT_ARGS="--exclude-group selenium"
  fast_finish: true
  include:
    - php: 5.5
      env: PHPUNIT_ARGS="--group selenium" SELENIUM="yes"
cache:
  directories:
    - $HOME/.composer/cache/
