# The Travis setup:
# - run testsuite for every PHP version
# - run lint for every PHP version
# - run Selenium for single PHP version

language: php
php:
  - "5.5"
  - "5.4"
  - "5.3"
  - hhvm
env:
  matrix:
    - PHPUNIT_ARGS="--exclude-group selenium"
    - LINT="yes"
  global:
    - secure: "CiFhtg+3xf6BGnSldT4phpr+7DhaPxQkLLqR4uhuqRIcb3XnZxsA9FXhWLaheUiH9wXVfF0C5Cqa73X4U2uBsfFn3fDetQwsoFdG+bqcF35LAXRK3/aowygLKHg2KjdeM2g4EQKw1T8x2CMhv+IizB8tYnVlaRgb1C5b2xl6zqI="
    - secure: "IBrkNMP60iafuSXloV96bSG4IqOXKH4I44oDdHEN2as7jxLMX4z/EzPUdTS/zfmBkQOE1j12DUXOOVEPl1usiLuS6MMEHUeLDR5cajtGDgDHYbKTtTB49kqXDJzU2mBvCvqOKKtuXFhX2uz9Riq+cylOoBRRauXo6RRvjw9IrfM="
before_script:
  - if [[ -z "$LINT" ]] ; then
    if [[ $TRAVIS_PHP_VERSION != "hhvm" ]] ; then

    git clone --depth=1 git://github.com/zenovich/runkit.git ;
    cd runkit ;
    phpize ;
    ./configure ;
    make ;
    make install ;
    cd .. ;

    phpenv config-add test/travis.php.ini ;

    pear channel-discover pear.phpunit.de ;
    pear install phpunit/PHPUnit_Selenium ;

    fi ;
    composer install --dev --no-interaction ;

    if [[ ! -z "$SELENIUM" ]] ; then

    php --server 127.0.0.1:$TRAVIS_BUILD_NUMBER &
    wget https://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip ;
    unzip BrowserStackLocal-linux-x64.zip ;
    ./BrowserStackLocal -onlyAutomate "$TESTSUITE_BROWSERSTACK_KEY" 127.0.0.1,$TRAVIS_BUILD_NUMBER,0 &

    fi ;
    fi
script:
  - if [[ -z "$LINT" ]] ; then
    export TESTSUITE_URL="http://127.0.0.1:$TRAVIS_BUILD_NUMBER" ;
    if [[ $TRAVIS_PHP_VERSION == "hhvm" ]] ; then
    ant phpunit-hhvm ;
    else
    ant phpunit ;
    fi ;
    else
    ant lint locales ;
    fi
after_script:
  - php vendor/bin/coveralls -v
matrix:
  allow_failures:
    - php: hhvm
      env: PHPUNIT_ARGS="--exclude-group selenium"
  fast_finish: true
  include:
    - php: 5.5
      env: PHPUNIT_ARGS="--group selenium" SELENIUM="yes"
