/* $Id$ */
/* Stylesheet for phpMyAdmin documentation */
/* vim: expandtab ts=4 sw=4 sts=4 tw=78
*/

body {
    background-color: #ffffff;
    font-family: sans-serif;
    color: #000000;
    margin: 0;
    padding: 2em 0 2em 0;
}

img {
    border: 0;
}

abbr, acronym {
    border-bottom: 1px dotted;
}

abbr, acronym {
    cursor: help;
}

a {
    text-decoration: none;
    color: #000099;
    background-color: #ffffff;
/*    font-weight: normal;*/
}

a:hover {
/*    background-color: #99CCFF;*/
    color: #000099;
    background-color: #ffffff;
    text-decoration: underline;
/*    font-weight: bolder */
}

sup {
    font-size: 0.7em;
}

sup:before {
    content: ' [';
}

sup:after {
    content: ']';
}


ul.header {
    width: 100%;
    background-color: #ddeeff;
    color: #000000;
    text-align: center;
    padding: 0 0 2px 0;
    border-bottom: 1px solid #000000;
    font-weight: bold;
    left: 0;
    top: 0;
    position: fixed;
    margin: 0;
    /* following MSIE hack was originally written by Riki Fridrich
     * <http://www.fczbkk.com> */
/*    position: expression("absolute");*/
/*    width: expression(document.body.clientWidth);*/
/*    top: expression(document.body.scrollTop + this.offsetHeight - this.offsetHeight);*/
}

ul.header li {
    margin: 0;
    padding: 0;
    display: inline;
}

ul.header li:before {
    content: ' - ';
}
ul.header li:first-child:before {
    content: '';
}

ul.header a {
    text-decoration: none;
    font-size: medium;
    color: #000099;
    background-color: #ddeeff;
    font-weight: normal;
}
ul.header a:hover {
    color: #000099;
    background-color: #99CCFF;
/*    font-weight: bolder;*/
}

h1 {
    text-align: center;
    padding-left: 8%;
    margin-top: 1em;
    color: #000000;
    background-color: #ddeeff;
    font-size: x-large;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    clear: both;
}

h2 {
    padding-left: 8%;
    padding-top: 2em;
    margin-top: 1em;
    color: #000000;
    background-color: #ddeeff;
    font-size: large;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    clear: both;
    /* counter-reset: heading3;
    counter-increment: heading2; */
}

/*h2:before {
    content: counter(heading2) '. ';
} */

h3 {
    padding-left: 10%;
    padding-top: 3em;
    margin-top: 1em;
    color: #000000;
    background-color: #ddeeff;
    font-size: medium;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    clear: both;
/*    counter-reset: heading4;
    counter-increment: heading3; */
}

/*h3:before {
    content: counter(heading2) '.' counter(heading3) '. ';
} */

h4, h5 {
    padding: 3em 0 0 0;
    margin: 10px 5% 2px 5%;
    font-weight: bold;
    color: #000099;
    background-color: #ffffff;
/*    counter-increment: heading4; */
}

/* h4:before {
    content: counter(heading2) '.' counter(heading3) '.' counter(heading4) '. ';
} 

h5 {
    counter-increment: heading5;
}

h5:before {
    content: counter(heading2) '.' counter(heading3) '.' counter(heading4) counter(heading5,lower-alpha);
} */

p {
    margin: 2px 5% 1em 5%;
}

table {
    margin: 2px 5% 2px 5%;
    border: none;
}

table tr,table td,table th {
    border: none;
}

table.translators {
    text-align: center;
    display: table; margin-left: auto; margin-right: auto;
    border-collapse: collapse;
}

table.translators th {
    color: #000000;
    background-color: #d3dce3;
}

table.translators td, table.translators th {
    border: 1px solid #000000;
    padding: 5px;
}

ul {
    margin: 2px 5% 2px 5%;
}

pre {
    margin: 1em 5% 1em 5%;
    border: 1px solid silver;
    color: #000000;
    background-color: #eeeeee;
    padding: 0.5em;
}

/* no more intend inside li */
li pre {
    margin: 1em 0 1em 0;
}

pre.wrap {
    white-space: normal;
}

dl {
    margin: 1em 6% 1em 6%;
}
dt {
    font-weight: bold;
    margin-left: 2em;
    padding-top: 3em;
}
dd {
    margin-left: 4em;
    margin-bottom: 1em;
}

ol {
    margin: 1em 6% 1em 6%;
}

li {
    margin-bottom: 1em;
}

.configrule {
    font-family: monospace;
}

dt.configrule {
    font-weight: bold;
}

.important {
    color: #bb0000;
    background-color: #ffeeee;
    padding: 0 0.5em 0 0.5em;
}

p.important {
    border: 1px dotted #ff0000;
    padding: 0.5em;
}

.important:first-word {
    font-weight: bold;
}

p.footnote {
    margin: 0 5% 2px 7%;
    padding-top: 3em;
}

p.footnote:first-line {
    margin-left: -2%;
}

p#bottom {
    text-align: right;
}

p#bottom img {
    margin: 1em;
}
