<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <!-- Show progress and sniff codes -->
    <arg value="ps"/>

    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <file>.</file>

    <exclude-pattern>libraries/cache/*</exclude-pattern>
    <exclude-pattern>libraries/language_stats.inc.php</exclude-pattern>
    <exclude-pattern>test/doctum-config.php</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/tmp/*</exclude-pattern>
    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/twig-templates/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <rule ref="PhpMyAdmin"/>

    <!-- Rules that should be followed, but are not required -->
    <rule ref="SlevomatCodingStandard.Operators.DisallowEqualOperators">
        <severity>4</severity>
    </rule>
</ruleset>
