parameters:
    bootstrap: %rootDir%/../../../test/bootstrap-phpstan.php
    ignoreErrors:
        - '#Unexpected token "&", expected TOKEN_VARIABLE at offset#'
        - '#Maximum function nesting level of#'
        - '#Method PHPUnit_Extensions_Selenium2TestCase::#'
        - '#Undefined variable#'
        - '#::byPartialLinkText#'
        - '#Access to an undefined property#'
        - '#Function strpos invoked with 0 parameters, 2-3 required#'
        - '#ChangePasswordTest::byXpath()#'
        - '#Function get_login_credentials not found#'
        - '#Function mysql_connect not found#'
        - '#Function mysql_close not found#'
        - '#Function uploadprogress_get_info not found#'
        - '#Instantiated class COM not found#'
        - '#Function escape not found#'
        - '#Function PMA_gradientGetColor not found#'
        - '#TableStructureController has an unused parameter#'
        - '#RelationCleanupDbiMock::__construct\(\) does not call parent constructor#'
        - '#NodeTrans::__construct\(\) does not call parent constructor#'

    excludes_analyse:
        - %rootDir%/../../../test/EnvironmentTest.php
        - %rootDir%/../../../test/libraries/FilesTest.php
        - %rootDir%/../../../test/libraries/common/GetCheckboxTest.php
        - %rootDir%/../../../tmp/*
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../test/bootstrap-phpstan.php
        - %rootDir%/../../../test/sami-config.php
        - %rootDir%/../../../themes/*/css/*.css.php
        - %rootDir%/../../../examples/signon-script.php
        - %rootDir%/../../../examples/openid.php

