includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - %rootDir%/../../../
    bootstrap: %rootDir%/../../../test/bootstrap-phpstan.php
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - %rootDir%/../../../examples/openid.php
        - %rootDir%/../../../node_modules/*
        - %rootDir%/../../../test/sami-config.php
        - %rootDir%/../../../tmp/*
        - %rootDir%/../../../vendor/*
