includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - libraries
        - public
        - test
    scanFiles:
        - libraries/constants.php
        - examples/signon-script.php
    bootstrapFiles:
        - test/phpstan-constants.php
    stubFiles:
        - test/stubs/Query.stub
        - test/stubs/uploadprogress.stub
    excludePaths:
        - libraries/cache/*
        - test/doctum-config.php
    dynamicConstantNames:
        - ROOT_PATH
        - TEST_PATH
        - VERSION_SUFFIX
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkImplicitMixed: true
    ignoreErrors:
        -
            message: '#Dynamic call to static method PHPUnit\\Framework\\Assert::[a-zA-Z]+\(\)\.#'
            paths:
                - test/classes/*
                - test/selenium/*
        -
            message: '#Dynamic call to static method PHPUnit\\Framework\\TestCase::[a-zA-Z]+\(\)\.#'
            path: test/classes/*
