includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - .
    scanFiles:
        - libraries/constants.php
    bootstrapFiles:
        - test/phpstan-constants.php
    stubFiles:
        - test/stubs/uploadprogress.stub
    excludePaths:
        - examples/openid.php
        - node_modules/*
        - libraries/cache/*
        - test/doctum-config.php
        - tmp/*
        - twig-templates/*
        - vendor/*
    dynamicConstantNames:
        - ROOT_PATH
        - VERSION_SUFFIX
