<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
  bootstrap="test/bootstrap-dist.php"
  cacheDirectory="build/.phpunit.cache"
  executionOrder="random"
  defaultTestSuite="unit"
  failOnIncomplete="true"
  failOnRisky="true"
  failOnWarning="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerDeprecations="false"
  displayDetailsOnIncompleteTests="true"
  requireCoverageMetadata="true"
  beStrictAboutOutputDuringTests="true"
  colors="true"
>
  <source>
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory>examples</directory>
      <directory>libraries/cache</directory>
      <directory>node_modules</directory>
      <directory>test</directory>
      <directory>tmp</directory>
      <directory>vendor</directory>
    </exclude>
  </source>
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <xml outputDirectory="build/logs/coverage-xml"/>
    </report>
  </coverage>
  <php>
    <env name="LC_ALL" value="C.UTF8" force="true"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">test/classes</directory>
    </testsuite>
    <testsuite name="selenium">
      <directory suffix="Test.php">test/selenium</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
</phpunit>
