{# These two table-image and table-link elements display the table name in browse search results #}
<div id="table-info">
    <a id="table-link" class="item"></a>
</div>
{# Div for browsing results #}
<div id="browse-results">
    {# This browse-results div is used to load the browse and delete results in the db search #}
</div>
<div id="sqlqueryform" class="clearfloat">
    {# This sqlqueryform div is used to load the delete form in the db search #}
</div>
{# Toggle query box link #}
<a id="togglequerybox"></a>
