<fieldset class="left">
  <legend>{% trans %}New{% context %}Create new trigger{% endtrans %}</legend>
  <div class='wrap'>
    {% if has_privilege %}
      <a class="ajax add_anchor" href="{{ url('/database/triggers', {'db': db, 'table': table, 'add_item': true}) }}">
        {{ get_icon('b_trigger_add') }}
        {% trans 'Add trigger' %}
      </a>
    {% else %}
      {{ get_icon('bd_trigger_add') }}
      {% trans 'Add trigger' %}
    {% endif %}
    {{ show_mysql_docu('CREATE_TRIGGER') }}
  </div>
</fieldset>
