<tr>
    <th>{{ type }}</th>
    <td>{{ name }}</td>
    <td>
        <input name="{{ field }}" value="{{ value }}" type="text">
    </td>
    <td>
        <button class="alias_remove btn btn-secondary">{% trans 'Remove' %}</button>
    </td>
</tr>
