<div class="container">
  <h2>{{ t('Something went wrong') }}</h2>
  <div class="card">
    <div class="card-body">
      {{ error_message|error }}
      {% if back_url != '' %}
        <a class="card-link" href="{{ back_url }}">{{ t('Go back') }}</a>
      {% endif %}
    </div>
  </div>
</div>
