/**
 * GIS data editor styles
 */
a.close_gis_editor {
  float: $right;
}

#gis_editor {
  display: none;
  position: fixed;
  z-index: 1001;
  overflow-y: auto;
  overflow-x: hidden;
}

#gis_data {
  min-height: 230px;

  &_textarea {
    height: 6em;
  }

  &_editor {
    background: #D0DCE0;
    padding: 15px;
    min-height: 500px;

    .choice {
      display: none;
    }

    input[type="text"] {
      width: 75px;
    }
  }
}
