.modal-header {
  background-image: linear-gradient(#f8f8f8, #d8d8d8);
}

#routineEditorModalDialog {
  width: 1200px;
  max-width: 1200px;
}

#routineExecuteModalDialog {
  width: 645px;
  max-width: 1200px;
}
