.nav-pills {
  .nav-link {
    margin-left: 0;
    margin-right: 6px;
    padding: 4px 10px;
    font-weight: bold;
    background: #f2f2f2;
    color: #235a81;
    border: 1px solid #ddd;

    @include border-radius(20px);

    &:hover {
      background-color: $bg-one;

      @include border-radius(0.3em);
    }

    img {
      margin-right: 0.5em;
      vertical-align: -3px;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    background-color: #fff;
    color: #235a81;

    @include border-radius(0.3em);
  }
}

.nav-tabs {
  font-weight: bold;

  .nav-link {
    background-color: #f2f2f2;
    color: #555;
    border-color: $bg-two $bg-two #aaa;
    margin-right: 0.4em;
    padding: 7px 10px;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    &:hover,
    &:focus {
      background-color: $nav-tabs-link-active-bg;
    }
  }
}
