</fieldset>
<fieldset id="fieldset_change_password_footer" class="tblFooters">
<input type="hidden" name="change_pw" value="1">
<input class="btn btn-primary" type="submit" value="{% trans 'Go' %}">
</fieldset>
</form>
