<tr class="vmiddle">
  <td>{% trans 'Password Hashing:' %}</td>
  <td>{{ auth_plugin_dropdown|raw }}</td>
</tr>
<tr id="tr_element_before_generate_password"></tr>
</table>
<div{{ orig_auth_plugin != 'sha256_password' ? ' class="hide"' }} id="ssl_reqd_warning_cp">
  {% apply notice %}
  {% trans %}
    This method requires using an '<i>SSL connection</i>' or an '<i>unencrypted connection that encrypts the password using RSA</i>'; while connecting to the server.
  {% endtrans %}
  {{ show_mysql_docu('sha256-authentication-plugin') }}
  {% endapply %}
</div>
