@media print {

    .print_ignore {
        display: none;
    }

    .nowrap {
        white-space: nowrap;
    }

    .hide {
        display: none;
    }

    body, table, th, td {
        color:             #000;
        background-color:  #fff;
        font-size: 12px;
    }

    a:link {
        color:#000;
        text-decoration:none
    }

    img {
        border: 0;
    }

    table, th, td {
        border: .1em solid #000;
        background-color: #fff;
    }

    table {
        border-collapse:   collapse;
        border-spacing:    0.2em;
    }

    thead {
        border-collapse:   collapse;
        border-spacing:    0.2em;
        border: .1em solid #000;
        font-weight: 900;
    }

    th, td {
        padding:           0.2em;
    }

    thead th {
        font-weight:       bold;
        background-color:  #e5e5e5;
        border: .1em solid #000;
        border-right: .1em solid #000;
    }

    th.vtop, td.vtop {
        vertical-align: top;
    }

    th.vbottom, td.vbottom {
        vertical-align: bottom;
    }

    #pma_navigation, #floating_menubar {
        display: none;
    }

    #pma_console_container {
        display: none;
    }

    #page_nav_icons {
        display: none;
    }

    #page_content {
        position: absolute;
        left: 0;
        top: 0;
        width: 95%;
        float: none;
    }

    #create_table_form_minimal {
        display: none;
    }

    #page_settings_modal {
        display: none;
    }

    .print {
        background-color: #000;
    }

    div.success {
        width: 80%;
        background-color: #fff;
    }

    .sqlOuter {
        color: black;
        background-color: #000;
    }

    .ic_window-new, .ic_s_cog {
        display: none;
    }

    .sticky_columns tr {
        display: none;
    }

    #structure-action-links, #addColumns {
        display: none;
    }

    #topmenu2 {
        display: none;
    }

    .cDrop, .cEdit, .cList, .cCpy, .cPointer {
        display: none;
    }

    table tr.odd th,
    table tr.odd td,
    .odd {
        background: #fff;
    }

    table tr.even th,
    table tr.even td,
    .even {
        background: #dfdfdf;
    }

}
