.card {
  margin-top: 1rem;
}

.card-header {
  font-family: $font-family-light;
  font-size: 1rem;
  border-bottom: 0;
}

.card-footer {
  border-top: 0;
}

#maincontainer {
  .card {
    background: none;
    border: none;
    margin: 0;
  }

  .card-header {
    background: none;
    color: $navi-background;
    font-size: 2.8em;
    font-family: $font-family-light;
    padding: 0;
  }

  .card-body ul {
    padding-left: 0;
  }
}
