@font-face {
  font-family: 'IcoMoon';
  src: local('☺');
  src: url('../fonts/IcoMoon.eot');
  src:
    url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
    url('../fonts/IcoMoon.woff') format('woff'),
    url('../fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('☺'), local('Open Sans'), local('OpenSans');
  src: url('../fonts/opensans-regular-webfont.eot');
  src:
    url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('☺'), local('Open Sans Light'), local('OpenSans-Light');
  src: url('../fonts/opensans-light-webfont.eot');
  src:
    url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('☺'), local('Open Sans Bold'), local('OpenSans-Bold');
  src: url('../fonts/opensans-bold-webfont.eot');
  src:
    url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: local('☺'), local('Open Sans Extrabold'), local('OpenSans-Extrabold');
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src:
    url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
