@font-face {
  font-family: 'Open Sans';
  src: local('☺'), local('Open Sans'), local('OpenSans');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: local('☺'), local('Open Sans Light'), local('OpenSans-Light');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('☺'), local('Open Sans Bold'), local('OpenSans-Bold');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Extrabold';
  src: local('☺'), local('Open Sans Extrabold'), local('OpenSans-Extrabold');
  font-weight: normal;
  font-style: normal;
}
