// Document

*:focus {
  outline: none;
}

// Body

body {
  text-align: $left;
}

// Forms

input,
select {
  font-size: 1em;
}

textarea {
  font-family: $font-family-monospace;
  font-size: 1.2em;
}
