.table {
  td {
    touch-action: manipulation;
    vertical-align: middle;
  }

  .table-light {
    th {
      font-family: $font-family-bold;
      font-weight: normal;
      border-bottom: 1px solid $border-color;

      a {
        color: $th-color;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .table th.position-sticky {
    top: 87px;
  }
}
