// configures general layout for detailed layout configuration please refer to the css files

$navi-width: 250px;
$font-family: "Open Sans", "Segoe UI", sans-serif;
$font-family-light: "Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
$font-family-fixed: Consolas, "Lucida Grande", monospace;

// Theme color scheme
// Values: "teal", "redmond", "blueeyes", "mono", "win"
// Default: "win"
// Set this value for the desired color scheme
$color-scheme: win !default;

$navi-color: #EEEEEE;
$navi-background: #377796;
$navi-background-light: #428EB4;
$navi-pointer-color: #333333;
$navi-pointer-background: #377796;
$navi-database-name-color: #333333;
$navi-hover-background: #428EB4;
$main-color: #444444;
$main-background: #FFFFFF;
$browse-pointer-color: #377796;
$browse-marker-color: #000000;
$browse-warning-color: #D44A26;
$browse-success-color: #01A31C;
$browse-gray-color: #CCCCCC;
$browse-marker-background: #EEEEEE;
$border-color: #DDDDDD;
$button-color: #FFFFFF;
$button-background: #377796;
$button-hover: #428EB4;
$th-background: #F7F7F7;
$th-disabled-background: #F3F3F3;
$th-color: #666666;
$th-pointer-color: #000000;
$bg-one: #F7F7F7;
$bg-two: #FFFFFF;
$blue-header: #3A7EAD;

@if $color-scheme == teal {
  $navi-color: #FFFFFF;
  $navi-background: #004D60;
  $navi-background-light: #04627C;
  $navi-pointer-color: #666666;
  $navi-pointer-background: #004D60;
  $navi-database-name-color: #FFFFFF;
  $navi-hover-background: #216475;
  $main-color: #444444;
  $main-background: #FFFFFF;
  $browse-pointer-color: #004d60;
  $browse-marker-color: #000000;
  $browse-warning-color: #D44A26;
  $browse-success-color: #01A31C;
  $browse-gray-color: #CCCCCC;
  $browse-marker-background: #EEEEEE;
  $border-color: #DDDDDD;
  $button-color: #FFFFFF;
  $button-background: #AAAAAA;
  $button-hover: #000000;
  $th-background: #F7F7F7;
  $th-disabled-background: #F3F3F3;
  $th-color: #666666;
  $th-pointer-color: #000000;
  $bg-one: #F7F7F7;
  $bg-two: #FFFFFF;
  $blue-header: #3A7EAD;
} @else if $color-scheme == redmond {
  $navi-color: #FFFFFF;
  $navi-background: #780505;
  $navi-background-light: #A10707;
  $navi-pointer-color: #666666;
  $navi-pointer-background: #780505;
  $navi-database-name-color: #FFFFFF;
  $navi-hover-background: #A10707;
  $main-color: #444444;
  $main-background: #FFFFFF;
  $browse-pointer-color: #780505;
  $browse-marker-color: #000000;
  $browse-warning-color: #D44A26;
  $browse-success-color: #01A31C;
  $browse-gray-color: #CCCCCC;
  $browse-marker-background: #EEEEEE;
  $border-color: #DDDDDD;
  $button-color: #FFFFFF;
  $button-background: #AAAAAA;
  $button-hover: #000000;
  $th-background: #F7F7F7;
  $th-disabled-background: #F3F3F3;
  $th-color: #666666;
  $th-pointer-color: #000000;
  $bg-one: #F7F7F7;
  $bg-two: #FFFFFF;
  $blue-header: #3A7EAD;
} @else if $color-scheme == blueeyes {
  $navi-color: #FFFFFF;
  $navi-background: #377796;
  $navi-background-light: #428EB4;
  $navi-pointer-color: #666666;
  $navi-pointer-background: #377796;
  $navi-database-name-color: #FFFFFF;
  $navi-hover-background: #428EB4;
  $main-color: #444444;
  $main-background: #FFFFFF;
  $browse-pointer-color: #377796;
  $browse-marker-color: #000000;
  $browse-warning-color: #D44A26;
  $browse-success-color: #01A31C;
  $browse-gray-color: #CCCCCC;
  $browse-marker-background: #EEEEEE;
  $border-color: #DDDDDD;
  $button-color: #FFFFFF;
  $button-background: #377796;
  $button-hover: #000000;
  $th-background: #F7F7F7;
  $th-disabled-background: #F3F3F3;
  $th-color: #666666;
  $th-pointer-color: #000000;
  $bg-one: #F7F7F7;
  $bg-two: #FFFFFF;
  $blue-header: #3A7EAD;
} @else if $color-scheme == mono {
  $navi-color: #FFFFFF;
  $navi-background: #666666;
  $navi-background-light: #999999;
  $navi-pointer-color: #666666;
  $navi-pointer-background: #666666;
  $navi-database-name-color: #FFFFFF;
  $navi-hover-background: #999999;
  $main-color: #444444;
  $main-background: #FFFFFF;
  $browse-pointer-color: #666666;
  $browse-marker-color: #000000;
  $browse-warning-color: #666666;
  $browse-success-color: #888888;
  $browse-gray-color: #CCCCCC;
  $browse-marker-background: #EEEEEE;
  $border-color: #DDDDDD;
  $button-color: #FFFFFF;
  $button-background: #AAAAAA;
  $button-hover: #000000;
  $th-background: #F7F7F7;
  $th-disabled-background: #F3F3F3;
  $th-color: #666666;
  $th-pointer-color: #000000;
  $bg-one: #F7F7F7;
  $bg-two: #FFFFFF;
  $blue-header: #555555;
}
