{# We don't have show anything about compression, when no supported #}
{% if compressions is not empty %}
    <div class="formelementrow" id="compression_info">
        <p>
            {{ 'File may be compressed (%s) or uncompressed.'|trans|format(compressions|join(', ')) }}
            <br>
            {% trans 'A compressed file\'s name must end in <strong>.[format].[compression]</strong>. Example: <strong>.sql.zip</strong>' %}
        </p>
    </div>
{% endif %}
