<div class="importoptions">
    <h3>{% trans 'Format:' %}</h3>
    {{ Plugins_getChoice('Import', 'format', import_list) }}
    <div id="import_notification"></div>
</div>

<div class="importoptions" id="format_specific_opts">
    <h3>{% trans 'Format-specific options:' %}</h3>
    <p class="no_js_msg" id="scroll_to_options_msg">
        {% trans 'Scroll down to fill in the options for the selected format and ignore the options for other formats.' %}
    </p>
    {{ Plugins_getOptions('Import', import_list) }}
</div>
<div class="clearfloat"></div>

{# Japanese encoding setting #}
{% if can_convert_kanji %}
    <div class="importoptions" id="kanji_encoding">
        <h3>{% trans 'Encoding Conversion:' %}</h3>
        {% include 'encoding/kanji_encoding_form.twig' %}
    </div>
{% endif %}
