<div class="exportoptions" id="header">
    <h2>
        {{ Util_getImage('b_import', 'Import'|trans) }}
        {% if import_type == 'server' %}
            {% trans 'Importing into the current server' %}
        {% elseif import_type == 'database' %}
            {{ 'Importing into the database "%s"'|trans|format(db) }}
        {% else %}
            {{ 'Importing into the table "%s"'|trans|format(table) }}
        {% endif %}
    </h2>
</div>
