<div class="modal fade" id="addIndexModal" tabindex="-1" aria-labelledby="addIndexModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addIndexModalLabel">{% trans 'Loading' %}</h5>
        <button type="button" class="btn-close" id="addIndexModalCloseButton" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="addIndexModalGoButton">{% trans 'Go' %}</button>
        <button type="button" class="btn btn-secondary" id="addIndexModalCancelButton">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </div>
</div>
