<div class="modal fade" id="pageSettingsModal" tabindex="-1" aria-labelledby="pageSettingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="pageSettingsModalDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pageSettingsModalLabel">{% trans 'Page-related settings' %}</h5>
        <button type="button" class="btn-close" id="pageSettingsModalCloseButton" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="pageSettingsModalApplyButton">{% trans 'Apply' %}</button>
        <button type="button" class="btn btn-secondary" id="pageSettingsModalCancelButton">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </div>
</div>
