{# If no table is selected currently, the user will be redirected to `/sql` route on selecting a table by default #}
{% if not url_query %}
  {% set url_query= '/sql' %}
{% endif %}

<div class="modal fade" id="searchTablesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content search_tables_modal_content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Search Tables in ' %}<span class="st_db_heading">{{db}}</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
      </div>
      <div class="modal-body st_modal_body">
        <input class="form-control" type="text" autofocus id="filterSearchTablesText" placeholder="Search table" autocomplete="off"/>
        <div class="st_selection_box">
          {% for table in tables %}
            {% set url_query_new= url(url_query, {'db': db, 'table': table, 'pos': 0}) %}
            <a class="st_text" data-filter-table-name={{ table|upper }} href="{{ url_query_new }}"> {{ table }}</a>
          {% endfor %}
        </div>
        <div class="mt-2">
          <div>{% trans 'Press' %}<kbd>Enter</kbd>{% trans 'to open the selected Table here.' %}</div>
          <div>{% trans 'Press' %}<kbd>Ctrl + Enter</kbd>{% trans 'to open the selected Table in new tab.' %}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>
