<form action="{{ url('/error-report') }}" method="post" name="report_frm" id="report_frm"
      class="ajax">
    <fieldset style="padding-top:0">

        <p>
            {% trans %}
            This report automatically includes data about the error and information about relevant configuration settings. It will be sent to the phpMyAdmin team for debugging the error.
            {% endtrans %}
        </p>

        <div class="label"><label><strong>
                    {% trans "Can you tell us the steps leading to this error? It decisively helps in debugging:" %}
                </strong></label>
        </div>
        <textarea class="report-description" name="description"
                  id="report_description"></textarea>

        <div class="label"><label><p>
                    {% trans "You may examine the data in the error report:" %}
                </p></label></div>
        <pre class="report-data">{{ report_data|raw }}</pre>

        <input type="checkbox" name="always_send" id="always_send_checkbox">
        <label for="always_send_checkbox">
            {% trans "Automatically send report next time" %}
        </label>

    </fieldset>

    {{ hidden_inputs|raw }}
    {{ hidden_fields|raw }}
</form>
