/* $Id$ */

body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color:#EAEEF0; margin:0px; }
.input_tab { background-color:#A6C7E1;}
table { font-size:12px; }
#canvas { background-color:#FFFFFF; }


canvas{display:inline-block;overflow:hidden; text-align:left;}
canvas *{behavior:url(#default#VML)}


.tab { -moz-user-select: none; background:#FFFFFF; border-collapse: collapse; border: 1px solid #AAAAAA; font-family:Tahoma; font-size:10px; z-index:1; }
.tab_zag { background-image:url(images/Header.png); background-repeat:repeat-x; text-align:center; cursor:move; padding:1px; font-weight:bold; }
.tab_zag_2 { background-image:url(images/Header_Linked.png); background-repeat:repeat-x; text-align:center; cursor:move; padding:1px; font-weight:bold; }
.tab_field { background:#FFFFFF; cursor:default; }
.tab_field_2 { background-color:#CCFFCC; background-repeat:repeat-x; cursor:default;}
.tab_field_3 { background-color:#FFE6E6;/*#DDEEFF*/ cursor:default; }
#hint{ white-space:nowrap; position:absolute;  background:#99FF99;  left: 200px;  top: 50px;  z-index:3;  border:#00CC66 solid 1px;  visibility:hidden;}


form{margin:0px;}
.scroll_tab{  overflow:scroll;   width:100%; height:500px; }

.Tabs{  cursor:default; font-family:Tahoma;  font-size:10px;  color:#0055bb;  white-space:nowrap;  text-decoration: none;  text-indent:3px;  font-weight:bold;
  margin-left:2px;  text-align:left;  background-color:#FFFFFF;  background-image:url(images/left_panel_butt.png);  border:#CCCCCC solid 1px;}
.Tabs2{  cursor:default; font-family:Tahoma;  font-size:10px;  color:#0055bb;  background:#FFEE99;  text-indent:3px;  font-weight:bold;  white-space:nowrap;
  text-decoration: none;  border:#9999FF solid 1px;  text-align:left;}

.owner{  font-family:Tahoma;  font-size:9px;  font-weight:normal;  color:#888888;}
.small_tab{ vertical-align:top;  color:#FFFFFF;   background-image:url(images/small_tab.png);  cursor:default;
  text-align:center;  font-weight:bold;  padding-left:2px;  padding-right:2px;  width:1px;  text-decoration:none;}
.small_tab2{  vertical-align:top;  color:#FFFFFF;  background-color:#FF9966;   cursor:default;  padding-left:2px;
  padding-right:2px;  text-align:center;  font-weight:bold;  width:1px;  text-decoration:none;}
.small_tab_pref{  background-image:url(images/Header.png);  background-repeat:repeat-x;  text-align:center;  width:1px;}
.small_tab_pref2{  vertical-align:top;  color:#FFFFFF;  background-color:#FF9966; cursor:default;
  text-align:center;  font-weight:bold;  width:1px;  text-decoration:none;}
input,select,textarea{ font-family:Arial, Helvetica, sans-serif; font-size:12px; border:#6699CC solid 1px;  background-color:#FFFFFF;}
#butt{ border:#4477aa solid 1px; font-size:11;  font-weight:bold; height:19px; width:70px; background-color:#FFFFFF; vertical-align:baseline;}
.L_butt2_1{  font-size:12px;  padding:1px;  text-decoration: none;  color:#000000;  vertical-align:middle;  cursor:default;}
.L_butt2_2{  font-size:12px;  padding:0px;  border:#0099CC solid 1px;  background:#FFEE99;  text-decoration: none;  color:#000000;  cursor:default;}
/* -----------------------------------------------------------------------------------------------------------*/
.bor{  width:10px;   height:10px;}
#frams1 { background: url(images/1.png) no-repeat right bottom; } 
#frams2 { background: url(images/2.png) no-repeat left bottom;  }
#frams3 { background: url(images/3.png) no-repeat left top;     } 
#frams4 { background: url(images/4.png) no-repeat right top;    }
#frams5 { background: url(images/5.png) repeat-x center bottom;    }	
#frams6 { background: url(images/6.png) repeat-y left; } 
#frams7 { background: url(images/7.png) repeat-x top;  }
#frams8 { background: url(images/8.png) repeat-y right; } 

#osn_tab { background-color:#FFFFFF; border:#A9A9A9 solid 1px;}

ul.header {
    width: 350px;
    background-color: #EAEEF0;
    color: #000000;
    text-align: center;
    font-weight: bold;
    left: 0;
    top: 0;
    position: fixed;
    margin: 0;
    z-index:1001;
    
    padding:0px;
    
    background-image:url(images/top_panel.png);
    background-position:top;
    background-repeat:repeat-x;
    
    border-right:#999999 solid 1px;
    /*border-bottom:#999999 solid 1px;*/
    border-left:#999999 solid 1px;
}

/* Button CSS rules */

a.M_butt img, a.M_butt_Selected_down img {
width: 20px;
height: 20px;
cursor: default;
margin-top: 3px;
margin-left: 1px;
margin-bottom: 3px;
}

a.M_butt img{
border: 1px dotted #F0F0EE !important;
}

a.M_butt_Selected_down img {
border: 1px solid #C0C0BB !important;
background-color: #99FF99;
}

a.M_butt img:hover {
border: 1px solid #0099CC !important;
cursor: default;
background-color: #FFEE99;
}

/* for IE */

* html a.M_butt img, a.M_butt_Selected_down_IE {
border: 0px !important;
margin-top: 4px;
margin-bottom: 1px;
}

* html a.M_butt{
/*border: 1px dotted #F0F0EE;*/
border: 1px dotted #FFFFFF;
cursor: default;
}

a.M_butt_Selected_down_IE {
border: 1px solid #C0C0BB;
background-color: #99FF99;
}

* html a.M_butt:hover {
border: 1px solid #0099CC;
cursor: default;
background-color: #FFEE99;
}

.M_bord 
{
  border: 0;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom:4px;
}

