<form id="create_table_form_minimal" method="post" action="tbl_create.php" class="lock-page">
    <fieldset>
        <legend>
        {% if Util_showIcons('ActionLinksMode') -%}
            {{ Util_getImage('b_table_add') }}
        {%- endif %}
        {% trans "Create table" %}
        </legend>
        {{ Url_getHiddenInputs(db) }}
        <div class="formelement">
            {% trans "Name" %}:
            <input type="text" name="table" maxlength="64" size="30" required="required" />
        </div>
        <div class="formelement">
            {% trans "Number of columns" %}:
            <input type="number" min="1" name="num_fields" value="4" required="required" />
        </div>
        <div class="clearfloat"></div>
    </fieldset>
    <fieldset class="tblFooters">
        <input type="submit" value="{% trans "Go" %}" />
    </fieldset>
</form>
