<div class="preview_sql">
    {% if query_data is empty %}
        {% trans 'No change' %}
    {% elseif query_data is iterable %}
        {% for query in query_data %}
            {{ format_sql(query) }}
        {% endfor %}
    {% else %}
        {{ format_sql(query_data) }}
    {% endif %}
</div>
