{% if tables is empty %}
  {{ 'There are no recent tables.'|trans }}
{% else %}
  {% for table in tables %}
  <li class="warp_link">
    <a class="disableAjax" href="{{ url('/table/recent-favorite', table) }}">
      `{{ table.db }}`.`{{ table.table }}`
    </a>
  </li>
  {% endfor %}
{% endif %}
