{% if tables is empty %}
  <li>
    <span class="dropdown-item-text">{{ t('There are no recent tables.') }}</span>
  </li>
{% else %}
  {% for table in tables %}
  <li>
    <a class="dropdown-item disableAjax" href="{{ url('/table/recent-favorite', table) }}">
      `{{ table.db }}`.`{{ table.table }}`
    </a>
  </li>
  {% endfor %}
{% endif %}
