<p>
<label>{% trans "Authentication code:" %} <input type="text" name="2fa_code" autocomplete="off" /></label>
</p>
<p>{% trans "Open the two-factor authentication app on your device to view your authentication code and verify your identity." %}</p>
