<div class="mb-3">
  <label class="form-label" for="2faCodeInput">{% trans "Authentication code:" %}</label>
  <input class="form-control" id="2faCodeInput" type="text" name="2fa_code" autocomplete="off" autofocus>
</div>
<p>{% trans 'Open the two-factor authentication app on your device to view your authentication code and verify your identity.' %}</p>
