<p class="card-text">{{ 'Please connect your FIDO2/WebAuthn device. Then confirm registration on the device.'|trans }}</p>

<input type="hidden" id="webauthn_registration_response" name="webauthn_registration_response" value="" data-webauthn-options="{{ options|e('html_attr') }}">
