.breadcrumb {
  font-weight: bold;
  padding-#{$left}: 2.2em;
}

.breadcrumb-item {
  + .breadcrumb-comment {
    padding-left: $breadcrumb-item-padding;
  }

  .icon {
    margin: 0;
  }
}

.breadcrumb-comment {
  color: #d6d6d6;
  font-weight: bold;
  font-style: italic;
  text-shadow: none;
}
