@import "../../bootstrap/scss/breadcrumb";

.breadcrumb-navbar {
  font-weight: bold;

  .breadcrumb-comment {
    color: var(--bs-gray);
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
  }
}
