// configures general layout for detailed layout configuration please refer to the css files

// navi frame

// navi frame width
$navi-width: 240px;

// foreground (text) color for the navi frame
$navi-color: #000;

// background for the navi frame
$navi-background: #d0dce0;

// foreground (text) color of the pointer in navi frame
$navi-pointer-color: #000;

// background of the pointer in navi frame
$navi-pointer-background: #99c;

// main frame

// foreground (text) color for the main frame
$main-color: #000;

// background for the main frame
$main-background: #f5f5f5;

// foreground (text) color of the pointer in browse mode
$browse-pointer-color: #000;

// background of the pointer in browse mode
$browse-pointer-background: #cfc;

// foreground (text) color of the marker (visually marks row by clicking on it)
// in browse mode
$browse-marker-color: #000;

// background of the marker (visually marks row by clicking on it) in browse mode
$browse-marker-background: #fc9;

// fonts

// the font family as a valid css font family value, if not set the browser default will be
// used (depending on browser, DTD and system settings)
$font-family: sans-serif;
// fixed width font family, used in textarea
$font-family-fixed: monospace;

// tables

// border
$border: 0;
// table header and footer color
$th-background: #d3dce3;
// table header and footer background
$th-color: #000;
// table data row background
$bg-one: #e5e5e5;
// table data row background, alternate
$bg-two: #d5d5d5;
