<a href="{{ url('/table/tracking', {'table': table, 'db': db}) }}">
    {% if is_tracked -%}
        {{ get_image('eye', t('Tracking is active.')) }}
    {%- else -%}
        {{ get_image('eye_grey', t('Tracking is not active.')) }}
    {%- endif %}
</a>
