<form action="{{ url('/table/structure/primary') }}" method="post" class="card">
  {{ get_hidden_inputs({'db': db, 'table': table, 'selected': selected}) }}
  <div class="card-header">{% trans 'Do you really want to execute the following query?' %}</div>

  <div class="card-body">
    <code class="text-danger">
      ALTER TABLE {{ backquote(table) }}<br>
      &nbsp;&nbsp;DROP PRIMARY KEY,<br>
      &nbsp;&nbsp;&nbsp;ADD PRIMARY KEY(<br>
      {% for field in selected %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ backquote(field) }}
        {%- if not loop.last %},{% endif %}<br>
      {% endfor %}
      &nbsp;&nbsp;&nbsp;);
    </code>
  </div>

  <div class="card-footer">
    <input id="buttonYes" class="btn btn-secondary" type="submit" name="mult_btn" value="{% trans 'Yes' %}">
    <input id="buttonNo" class="btn btn-secondary" type="submit" name="mult_btn" value="{% trans 'No' %}">
  </div>
</form>
