aqua
aqua_brushed
arctic_ocean
cactica_blues
clearview3
crimson_gray
dark_lime
darkblue_gray
garvblue
graphivore
green_orange
grid
hillside
openphpnuke
original_small
paradice
pixeline
pmahomme
silk
silkline
smooth_yellow
very_small
xampp
xp_basic
xp_blue
xp_dirty
xp_green
xp_silver
