<fieldset>
  <legend>{% trans 'Master replication' %}</legend>
  {% filter format('<a href="server_replication.php" data-post="' ~ get_common(url_params, '') ~ '">', '</a>')|raw %}
    {% trans %}
      This server is not configured as master in a replication process. Would you like to %sconfigure%s it?
    {% endtrans %}
  {% endfilter %}
</fieldset>
