<div class="row">
    <div class="col-12">
        <fieldset id="tableFilter">
            <legend class="form-control">{% trans "Filters" %}</legend>
            <div class="formelement form-group row">
                <label for="filterText" class="col-form-label col-auto d-flex align-items-center">{% trans "Containing the word:" %}</label>
                <div class="col-auto">
                    <input name="filterText" type="text" id="filterText" class="form-control"
                       value="{{ filter_value }}">
                </div>
            </div>
        </fieldset>
    </div>
</div>
