<fieldset id="tableFilter">
    <legend>{% trans "Filters" %}</legend>
    <div class="formelement">
        <label for="filterText">{% trans "Containing the word:" %}</label>
        <input name="filterText" type="text" id="filterText"
               value="{{ filter_value }}">
    </div>
</fieldset>
