<input type="hidden" name="fk_checks" value="0">
<input type="checkbox" name="fk_checks" id="fk_checks" value="1"
    {{- checked ? ' checked' }}>
<label for="fk_checks">{% trans 'Enable foreign key checks' %}</label>
