<input type="hidden" name="fk_checks" value="0">
<input type="checkbox" name="fk_checks" id="fk_checks" value="1"  class="form-check-input"
    {{- checked ? ' checked' }}>
<label for="fk_checks" class="form-check-label">{% trans 'Enable foreign key checks' %}</label>
