{# Manage HTML redirection #}
<html>
<head>
    <title>- - -</title>
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Refresh" content="0;url={{ uri }}" />
    <script type="text/javascript">
        //<![CDATA[
        setTimeout(function() { window.location = decodeURI('{{ Sanitize_escapeJsString(uri) }}'); }, 2000);
        //]]>
    </script>
</head>
<body>
<script type="text/javascript">
    //<![CDATA[
    document.write('<p><a href="{{ Sanitize_escapeJsString(uri|e) }}">{% trans 'Go' %}</a></p>');
    //]]>
</script>
</body>
</html>
