<div class="group">
<h2>{% trans "Configure two-factor authentication" %}</h2>
<div class="group-cnt">
<form method="POST" action="prefs_twofactor.php">
{{ get_hidden_inputs() }}
<input type="hidden" name="2fa_configure" value="{{ configure }}">
{{ form|raw }}
<input class="btn btn-secondary" type="submit" value="{% trans "Enable two-factor authentication" %}">
</form>
</div>
</div>
