<h1>phpMyAdmin - {% trans 'Theme' %}</h1>
<p>
  <a href="{{ 'https://www.phpmyadmin.net/themes/'|link }}#pma_{{ version }}" rel="noopener noreferrer" target="_blank">
    {% trans 'Get more themes!' %}
  </a>
</p>
{{ previews|raw }}
