<div id="topmenucontainer" class="menucontainer">
  <i class="scrollindicator scrollindicator--left"><a href="#" class="tab"></a></i>
  <div class="navigationbar">
    <ul id="topmenu" class="resizable-menu">
      {% for tab in tabs %}
        <li{{ tab.active ? ' class="active"' }}>
          <a href="{{ url(tab.route, url_params|merge(tab.args ?? [])) }}" class="tab{{ tab.active ? 'active' }}">
            {{ get_icon(tab.icon, tab.text, false, true, 'TabsMode') }}
          </a>
        </li>
      {% endfor %}
      <div class="clearfloat"></div>
    </ul>
  </div>
  <i class="scrollindicator scrollindicator--right"><a href="#" class="tab"></a></i>
</div>
