<td class="center">
    <select name="criteriaColumn[{{ column_number }}]" size="1">
        <option value="">&nbsp;</option>
        {% for column in column_names %}
            <option value="{{ column }}"
                {%- if column is same as(selected) %} selected="selected"{% endif %}>
                {{ column|e|replace({' ': '&nbsp;'}) }}
            </option>
        {% endfor %}
    </select>
</td>
