{% if export_method != 'custom-no-form' %}
    <div class="exportoptions" id="quick_or_custom">
        <h3>{% trans 'Export method:' %}</h3>
        <ul>
            <li>
                <input type="radio" name="quick_or_custom" value="quick" id="radio_quick_export"
                    {{- export_method == 'quick' ? ' checked' }}>
                <label for="radio_quick_export">
                    {% trans 'Quick - display only the minimal options' %}
                </label>
            </li>

            <li>
                <input type="radio" name="quick_or_custom" value="custom" id="radio_custom_export"
                    {{- export_method == 'custom' ? ' checked' }}>
                <label for="radio_custom_export">
                    {% trans 'Custom - display all possible options' %}
                </label>
            </li>
        </ul>
    </div>
{% endif %}
