<div class="exportoptions" id="header">
    <h2>
        {{ get_image('b_export', 'Export'|trans) }}
        {% if export_type == 'server' %}
            {% trans 'Exporting databases from the current server' %}
        {% elseif export_type == 'database' %}
            {{ 'Exporting tables from "%s" database'|trans|format(db) }}
        {% else %}
            {{ 'Exporting rows from "%s" table'|trans|format(table) }}
        {% endif %}
    </h2>
</div>
