<li>
    <input type="radio" id="radio_view_as_text" name="output_format" value="astext"
        {{- has_repopulate or export_asfile == false ? ' checked' }}>
    <label for="radio_view_as_text">
        {% trans 'View output as text' %}
    </label>
</li>
