<div class="exportoptions" id="export_templates">
    <h3>{% trans 'Export templates:' %}</h3>

    <div class="floatleft">
        <form method="post" action="tbl_export.php" id="newTemplateForm" class="ajax">
            <h4>{% trans 'New template:' %}</h4>
            <input type="text" name="templateName" id="templateName"
                maxlength="64" placeholder="{% trans 'Template name' %}" required>
            <input class="btn btn-secondary" type="submit" name="createTemplate" id="createTemplate"
                value="{% trans 'Create' %}">
        </form>
    </div>

    <div class="floatleft" style="margin-left: 50px;">
        <form method="post" action="tbl_export.php" id="existingTemplatesForm" class="ajax">
            <h4>{% trans 'Existing templates:' %}</h4>
            <label for="template">{% trans 'Template:' %}</label>
            <select name="template" id="template" required>
                {{ options|raw }}
            </select>
            <input class="btn btn-secondary" type="submit" name="updateTemplate" id="updateTemplate" value="{% trans 'Update' %}">
            <input class="btn btn-secondary" type="submit" name="deleteTemplate" id="deleteTemplate" value="{% trans 'Delete' %}">
        </form>
    </div>

    <div class="clearfloat"></div>
</div>
