<span class="curr_value">{{ current_value }}</span>
<a href="{{ url('/browse-foreigners') }}" data-post="{{ get_common(params, '', false) }}" class="ajax browse_foreign">
  {% trans 'Browse foreign values' %}
</a>
