<form action="{{ url('/table/structure/partitioning') }}" method="post">
    {{ get_hidden_inputs(db, table) }}

    <fieldset class="pma-fieldset">
        <legend>{% trans 'Edit partitioning' %}</legend>
        {% include 'columns_definitions/partitions.twig' with {
          'partition_details': partition_details,
          'storage_engines': storage_engines
        } only %}
    </fieldset>
    <fieldset class="pma-fieldset tblFooters">
        <input class="btn btn-primary" type="submit" name="save_partitioning" value="{% trans 'Save' %}">
    </fieldset>
</form>
