<div class="modal fade" id="gisEditorModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="gisEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="gisEditorModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ t('Close') }}"></button>
      </div>
      <div class="modal-body" id="gis_editor"></div>
    </div>
  </div>
</div>
