<div class="modal fade" id="previewSqlConfirmModal" tabindex="-1" aria-labelledby="previewSqlConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewSqlConfirmModalLabel">{{ t('Loading') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ t('Close') }}"></button>
      </div>
      <div class="modal-body">
        <div class="preview_sql">
          <pre id="previewSqlConfirmCode"><code class="sql" dir="ltr"></code></pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="previewSQLConfirmOkButton">{{ t('OK') }}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ t('Close') }}</button>
      </div>
    </div>
  </div>
</div>
