{% if comments_map[fields_meta.table] is defined
    and comments_map[fields_meta.table][fields_meta.name] is defined %}
    <br><span class="tblcomment" title="{{ comments_map[fields_meta.table][fields_meta.name] }}">
        {% if comments_map[fields_meta.table][fields_meta.name]|length > limit_chars %}
            {{ comments_map[fields_meta.table][fields_meta.name]|slice(0, limit_chars) }}…
        {% else %}
            {{ comments_map[fields_meta.table][fields_meta.name] }}
        {% endif %}
    </span>
{% endif %}
