<td {{ align }}
    data-decimals="{{ meta.decimals is defined ? meta.decimals : '-1' }}"
    data-type="{{ meta.type }}"
    {# The null class is needed for grid editing #}
    class="{{ classes }} null">
    <em>NULL</em>
</td>
