<a href="{{ url|raw }}" class="ajax saveLink hide">
    {{ Util_getIcon('b_save.png', 'Save'|trans) }}
</a>
<a href="#" class="cancelLink hide">
    {{ Util_getIcon('b_close.png', 'Cancel'|trans) }}
</a>
{{ Util_getImage('b_help.png', 'Documentation'|trans, {
    'class': 'hide',
    'id': 'docImage'
}) }}
