<a href="{{ url|raw }}" class="ajax saveLink hide">
    {{ get_icon('b_save', 'Save'|trans) }}
</a>
<a href="#" class="cancelLink hide">
    {{ get_icon('b_close', 'Cancel'|trans) }}
</a>
{{ get_image('b_help', 'Documentation'|trans, {
    'class': 'hide',
    'id': 'docImage'
}) }}
