<tr class="var-row {{ row_class }}" data-filter-row="{{ name | upper }}">
    <td class="var-action"></td>
    <td class="var-name session">({% trans 'Session value' %})</td>
    <td class="var-value value">&nbsp;{{ value }}</td>
</tr>
