<thead>
    <tr class="var-header var-row">
        <td class="var-action">{% trans 'Action' %}</td>
        <td class="var-name">{% trans 'Variable' %}</td>
        <td class="var-value">{% trans 'Value' %}</td>
    </tr>
</thead>
