<ul>
    <li>
        <input type="radio" name="knjenc" value="" checked id="kj-none">
        <label for="kj-none">
          {{ t('None', context = 'None encoding conversion', notes = 'This is currently used only in Japanese locales') }}
        </label>
        <input type="radio" name="knjenc" value="EUC-JP" id="kj-euc">
        <label for="kj-euc">EUC</label>
        <input type="radio" name="knjenc" value="SJIS" id="kj-sjis">
        <label for="kj-sjis">SJIS</label>
    </li>
    <li>
        <input type="checkbox" name="xkana" value="kana" id="kj-kana">
        <label for="kj-kana">
          {{ t('Convert to Kana', notes = 'This is currently used only in Japanese locales') }}
        </label>
    </li>
</ul>
