<div class="{{ parent_div_classes }}">
    {% for content in content_array %}
        {% if content is defined %}
        <span class="{{ content[0] }}">
            {{ content[1] }}
            {% if content['extraSpan'] is defined %}
                : <span>{{ content['extraSpan'] }}</span>
            {% endif %}
        </span>
        {% endif %}
    {% endfor %}
</div>
