{% if cfg_relation['relwork'] or is_foreign_key_supported %}
    <ul id="topmenu2">
        {{ get_html_tab({
            'icon': 'b_props',
            'link': url('/table/structure'),
            'text': 'Table structure'|trans,
            'id': 'table_strucuture_id',
            'active': route == '/table/structure'
        }, url_params) }}
        {{ get_html_tab({
            'icon': 'b_relations',
            'link': url('/table/relation'),
            'text': 'Relation view'|trans,
            'id': 'table_relation_id',
            'active': route == '/table/relation'
        }, url_params) }}
    </ul>
    <div class="clearfloat"></div>
{% endif %}

<div id="structure_content">
    {% block content %}
    {% endblock %}
</div>
