name: Check other tools and scripts

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - QA_**

jobs:
    build-documentation:
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]')"
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
              with:
                python-version: '3.6'
            - name: Install Sphinx for the documentation build
              run: pip install 'Sphinx'
            - name: Build the documentation
              run: make -C doc html SPHINXOPTS='-n -W -a'

    build-release:
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]')"
        steps:
            - uses: actions/checkout@v2
            - name: Use php 7.2
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.2
                  extensions: mbstring, iconv, mysqli, zip, gd
                  tools: composer:v2
            - name: Cache module
              uses: actions/cache@v2
              with:
                  path: ~/.composer/cache/
                  key: composer-cache
            - name: Install dependencies
              run: composer install
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo "::set-output name=dir::$(yarn cache dir)"
            - name: yarn cache
              uses: actions/cache@v2
              with:
                  path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-
            - name: Install modules
              run: yarn install --non-interactive
            - uses: actions/setup-python@v2
              with:
                python-version: '3.6'
            - name: Install gettext
              run: sudo apt-get install -y gettext
            - name: Install Sphinx for the documentation build
              run: pip install 'Sphinx'
            - name: Build the release
              run: ./scripts/create-release.sh --ci
