name: Check other tools and scripts

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - QA_**

jobs:
  build-documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'

      - name: Install Sphinx for the documentation build
        run: pip install 'Sphinx'

      - name: Build the documentation
        run: make -C doc html SPHINXOPTS='-n -W -a'

  build-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ["7.2"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install gettext
        run: sudo apt-get install -y gettext

      - name: Set up PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, iconv, mysqli, zip, gd
          tools: composer:v2

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: highest

      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Get Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache Yarn dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install modules
        run: yarn install --non-interactive

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'

      - name: Install Sphinx for the documentation build
        run: pip install 'Sphinx'

      - name: Build the release
        run: ./scripts/create-release.sh --ci
