H2 {color: #4000A0}
.st {font-weight:bold; color:#A02020}
A.demo {text-decoration:none; font-weight:bold; color:#0000CC}
A.demo:link {text-decoration:none; font-weight:bold; color:#0000CC}
A.demo:hover {text-decoration:none; font-weight:bold; color:#0000FF}
A.demo:active {text-decoration:none; font-weight:bold; color:#0000FF}
