span.mysql-keyword {
    color: blue;
}
span.mysql-var {
    color: red;
}
span.mysql-comment {
    color: #AA7700;
}
span.mysql-string {
    color: green;
}
span.mysql-operator {
    color: blue;
}
span.mysql-word {
    color: black;
}
span.mysql-function {
    color: darkorange;
}
span.mysql-sqlplus {
    color: darkorange;
}
span.mysql-type {
    color: purple;
}
span.mysql-separator {
    color: #666666;
}
span.mysql-number {
    color: darkcyan;
}
